/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
$charcoal: #2c3840;

body {
  position: relative;
  color: white;
  width: 100vw;
  height: 100vh;
  background-color: $charcoal;
  font-family: sans-serif;
  overflow: hidden;
  display: flex;
  margin: 0
}